<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <title>게시판</title>
    <style>
        .table {
            margin-left: 100px;
            width: 70%;
            text-align: center;
        }

        #btn {
            text-align: center;
        }
    </style>
    <script>
        $(document).ready(function () {
            // set_temp()
            show()
        });
        // function set_temp(){
        //     $.ajax({
        //         type: "GET",
        //         url: "http://spartacodingclub.shop/sparta_api/weather/seoul",
        //         data: {},
        //         success: function (response) {
        //             $('#temp').text(response['temp'])
        //         }
        //     })
        // }
        function save() {
            let writer = $('#writer').val()
            let comment = $('#comment').val()
            let today = new Date().toISOString().substring(0, 10)

            $.ajax({
                type: "POST",
                url: "/board",
                data: {'writer_give': writer, 'comment_give': comment, 'date_give': today},
                success: function (response) {
                    alert(response["msg"])
                    window.location.reload()
                }
            });
        }

        function show() {
            // $('#board').empty()
            $.ajax({
                type: "GET",
                url: "/boards",
                data: {},
                success: function (response) {
                    let rows = response['board_list']
                    console.log(rows)
                    for (let i = 0; i < rows.length; i++) {
                        let writer = rows[i]['writer']
                        let comment = rows[i]['comment']
                        let date = rows[i]['date']
                        console.log(writer, comment, date)

                        let temp_html = `<tr>
                                        <th scope="row">${writer}</th>
                                        <td colspan="2">${comment}</td>
                                        <td>${date}</td>
                                        </tr>`
                        $('#board').append(temp_html)
                    }
                }
            });
        }
    </script>
</head>
<body>
<h1>자유 게시판</h1>
<div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">작성자</th>
            <th scope="col" colspan="2">내용</th>
            <th scope="col">등록일</th>
        </tr>
        </thead>
        <tbody class="table-group-divider" id="board">
        <tr>
            <th scope="row"><input type="text" id="writer"></th>
            <td colspan="2"><input type="text" id="comment" placeholder="한줄 평 작성.."></td>
<!--            <td>${date}</td>-->111
        </tr>
        </tbody>
    </table>
</div>
<div>
    <button onclick="save()" type="button" class="btn btn-dark">한줄평 남기기</button>
</div>
</body>
</html>